<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <style>
        .event_name {
            color: #202020;
        }
        .event_name:hover{
            color: #888888;
        }
    </style>
</head>
<body>

<nav th:insert="fragments/fragments.html :: navbar"></nav>

<div class="content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Description</th>
        </tr>
        </thead>

        <tr th:each="event: ${events}">
            <td>
                <a style="display: contents;" th:href="@{events/{eventId}(eventId = ${event.getEventId()})}">
                    <span class="event_name" th:text="${event.getName()}"></span>
                </a>
            </td>

            <td th:text="${event.getTimeStart()}" ></td>
            <td th:text="${event.getTimeEnd()}" ></td>
            <td th:text="${event.getDescription()}" ></td>
        </tr>
        <tr>
            <td><a th:href="@{events/create(month=${month},year=${year},day=${day})}" method="GET"><button class="btn btn-primary">+ Add Event</button></a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>



</body>
</html>