<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <style>
        * {box-sizing: border-box;}
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}

        .month {
            padding: 75px 25px;
            width: 100%;
            background: #1abc9c;
            text-align: center;
        }

        .month ul {
            margin: 0;
            padding: 0;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .month .prev {
            float: left;
            padding-top: 10px;
        }

        .month .next {
            float: right;
            padding-top: 10px;
        }

        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #ddd;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #666;
            text-align: center;
        }

        .days {
            padding: 10px 0;
            background: #eee;
            margin: 0;
        }

        .day {
            border-bottom: 1px solid;
            display: inline-block;
            width: 13.6%;
            padding-top: 15px;
            padding-right: 5px;
            align-content: center;
            height: 150px;
            font-size:12px;
            color: #777;
            white-space: pre-line;
        }

        .day.empty{
            border: none;
            visibility: hidden;
        }

        .day .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }

        /*
        /* Add media queries for smaller screens
        @media screen and (max-width:720px) {
            .weekdays li, .days li {width: 13.1%;}
        }

        @media screen and (max-width: 420px) {
            .weekdays li, .days li {width: 12.5%;}
            .days li .active {padding: 2px;}
        }

        @media screen and (max-width: 290px) {
            .weekdays li, .days li {width: 12.2%;}
        }
        */
    </style>

</head>
<body>

<div>
    <div class="month">
        <ul>
            <a th:href="@{/agenda/calendar/prev(month=${month},year=${year})}">
                <li class="prev" >&#10094;</li>
            </a>
            <a th:href="@{/agenda/calendar/next(month=${month},year=${year})}">
                <li class="next" >&#10095;</li>
            </a>

            <li>
                <span th:text="${monthStr}"></span><br>
                <span style="font-size:18px" th:text="${year}"></span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Su</li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
    </ul>

    <td class="days" th:each="date: ${days}">
        <div class="day empty"  th:if="${date.getDay() == 0}">_</div>
        <a th:href="@{/agenda/events(month=${month},year=${year},day=${date.getDay()})}"><div class="day" th:unless="${date.getDay() == 0}" th:text="${date}" ></div></a>
    </td >
    <!--td class="days" th:each="day: ${Events}">
        <span class="day" th:text="${Events.indexOf(day)}" >
            <tr th:each="event: ${day}">
                <span th:text="${event.name}"></span>
            </tr>
        </span>
    </td-->

</div>


</body>
</html>