<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <style>
        form{
            padding: 40px 80px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/fragments.html :: navbar"></div>

<div class="content">
    <form th:action="@{/agenda/events/{eventId}/createTask(eventId = ${eventId})}" method="POST">
        <div class="form-group">
            <label for="agendaJudulTaskForm">Title</label>
            <input type="text" class="form-control" name="judulTask" id="agendaJudulTaskForm" required>
        </div>
        <div class="form-group">
            <label for="agendaAssigneeForm">Assignee</label>
            <input type="text" class="form-control" name="assignee"  id="agendaAssigneeForm">
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
</div>


<script th:replace="fragments/fragments.html :: scripts"></script>

</body>
</html>