<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <style>
        form{
            padding: 40px 80px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/fragments.html :: navbar"></div>

<div class="content">
    <form th:action="@{/agenda/events/create}" method="POST">
        <div class="form-group">
            <label for="agendaEventNameForm">Event Name</label>
            <input type="text" class="form-control" name="name" id="agendaEventNameForm" required>
        </div>
        <div class="form-group">
            <label for="agendaEventStartForm">Start Time</label>
            <input type="text" class="form-control" name="startTime"  id="agendaEventStartForm">
        </div>
        <div class="form-group">
            <label for="agendaEventEndForm">End Time</label>
            <input type="text" class="form-control" name="endTime"  id="agendaEventEndForm">
        </div>
        <div class="form-group">
            <label for="agendaEventDescForm">Description</label>
            <textarea name="desc" class="form-control" id="agendaEventDescForm"></textarea>
        </div>

        <input type="hidden" name="date" th:value="${date}">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>


</body>
</html>