<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <style>
        form{
            padding: 40px 80px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/fragments.html :: navbar"></div>

<div class="content">
    <form th:action="@{/agenda/events/{eventId}(eventId = ${eventId})}" method="POST">
        <div class="form-group">
            <label for="agendaEventNameForm">Event Name</label>
            <input type="text" class="form-control" name="name" id="agendaEventNameForm" th:value="${event.getName()}">
        </div>
        <div class="form-group">
            <label for="agendaEventStartForm">Start Time</label>
            <input type="text" class="form-control" name="startTime"  id="agendaEventStartForm" th:value="${event.getTimeStart()}">
        </div>
        <div class="form-group">
            <label for="agendaEventEndForm">End Time</label>
            <input type="text" class="form-control" name="endTime"  id="agendaEventEndForm" th:value="${event.getTimeEnd()}">
        </div>
        <div class="form-group">
            <label for="agendaEventDescForm">Description</label>
            <textarea name="desc" class="form-control" id="agendaEventDescForm" th:text="${event.getDescription()}"></textarea>
        </div>

        <input type="hidden" name="date" th:value="${event.getDate()}">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Progress</th>
            <th scope="col">Assignee</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.getJudulTask()}" ></td>
            <td th:text="${task.getPercent()}" ></td>
            <td th:text="${task.getAssignne()}" ></td>
            <td th:text="${task.getStatus()}" ></td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/agenda/events/{eventId}/createTask(eventId = ${eventId})}" method="GET">
                    <button class="btn btn-primary">+ Add Task</button>
                </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>


<script th:replace="fragments/fragments.html :: scripts"></script>

</body>
</html>