<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TeemeeT</title>
    </head>
    <body>
        <h1>Manage Tasks and Meetings Easily</h1>
        <p>Tired of remembering your team’s tasks and meetings? TeemeeT will help you find the correct time for your team meetings and keep track of tasks and meetings on your team.</p>
        <a th:href="@{/signup}" >Sign Up to Organize</a>
        <a th:href="@{/signin}" >Sign In</a>
    </body>
</html>