<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>TeemeeT | Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<div th:if="${errorMessage != null}" th:utext="${errorMessage}" class="error">...</div>
<form th:action="@{/signup}" th:object="${user}" method="POST" enctype="utf8">
    <sec:csrfInput /> 
    <div>
        <label>Username</label>
        <input th:field="*{username}"/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">..</span>
    </div>
    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
    </div>
    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" th:field="*{matchingPassword}"/>
        <span th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">..</span>
    </div>
    <button type="submit">submit</button>
</form>

<a th:href="@{/signin}">Sign In</a>
</body>
</html>