<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TeemeeT</title>
    </head>
    <body>
        <h1>You signed up!</h1>
        <a th:href="@{/signin}">Sign In</a>
    </body>
</html>