<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>
        Details
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <style>
        h1 {
            padding-top: 20vh;
            padding-bottom: 30px;
            text-align: center;
            color: orange;
        }

        .container {
            padding-top: 100px;
            padding-bottom: 30px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3   ">
            <div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Event Details</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${event.name}"></h6>
                        <p class="card-text" th:text="'Date: ' + ${event.date}"> </p>
                        <p class="card-text" th:text="'Start Time: ' + ${event.startTime}"> </p>
                        <p class="card-text" th:text="'End Time: ' + ${event.endTime}"> </p>
                        <p class="card-text" th:text="'Share this link letsmeet/details/' + ${event.id}"> </p>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
                <div class="card">
                    <h6 class="card-header">Change Event Time</h6>
                    <div class="card-body">
                        <form th:action="@{/letsmeet/update/{id}(id=${event.id})}" method="post">
                            <div class="form-group mb-2">
                                <label class="mr-2">Start time:</label>
                                <select class="form-control mr-4" th:name="newStartTime" id="newStartTime">
                                    <option th:each="startTime : ${hourList}"
                                            th:value="${startTime}" th:text="${startTime}">
                                    </option>
                                </select>
                                <label class="mr-2">End time:</label>
                                <select class="form-control" th:name="newEndTime" id="newEndTime">
                                    <option th:each="endTime : ${hourList}"
                                            th:value="${endTime}" th:text="${endTime}">
                                    </option>
                                </select>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">All responses will be deleted</h6>
                            <div class="form-group mx-auto">
                                <input class="btn btn-danger" type="submit" value="Change" onclick="return Compare()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <form th:action="@{/letsmeet/details/{id}(id=${event.id})}" method="post">
                <div class="form-group">
                    <div class="d-flex flex-row">
                        <th:block th:each="slot : ${timeslots}">
                            <div class="col-3">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col-sm">Time</th>
                                        <th scope="col-sm">Slots</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="time : ${slot}">
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" th:name="timeChecked" th:value="${time}">
                                                    <label class="form-check-label" th:for="${time}"></label>
                                                </div>
                                            </td>
                                            <td th:text="${time}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function Compare() {
        var strStartTime = document.getElementById("newStartTime").value;
        var strEndTime = document.getElementById("newEndTime").value;

        var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
        var endTime = new Date(startTime)
        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);
        if (startTime >= endTime) {
            alert("Start Time must not be greater than or equals End Time");
            return false;
        }
    }
    function GetHours(d) {
        var h = parseInt(d.split('-')[0]);
        return h;
    }
    function GetMinutes(d) {
        return parseInt(d.split('-')[1]);
    }
</script>
</body>
</html>