<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Lets Meet
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <style>
        h1 {
            padding-top: 20vh;
            padding-bottom: 30px;
            text-align: center;
            color: orange;
        }

        .container {
            width: 400px;
            clear: both;
        }
    </style>
</head>

<body>
    <h1>Plan a New Event</h1>

    <div class="container">
        <form class="form-inline" th:action="@{/letsmeet}" method="post">
            <div class="form-group mb-2">
                <label class="mr-2">Enter meeting name: </label>
                <input class="form-control" type="text" th:field="${event.name}" placeholder="Group Discussion, Project Ideation, etc." required>
            </div>
            <div class="form-group mb-2">
                <label class="mr-3">Enter meeting date: </label>
                <input class="form-control" type="date" th:field="${event.date}" required>
            </div>
            <div class="form-group mb-2">
                <label class="mr-2">Start time:</label>
                <select class="form-control mr-4" th:field="${event.startTime}">
                    <option th:each="startTime : ${hourList}"
                            th:value="${startTime}" th:text="${startTime}">
                    </option>
                </select>
                <label class="mr-2">End time:</label>
                <select class="form-control" th:field="${event.endTime}">
                    <option th:each="endTime : ${hourList}"
                            th:value="${endTime}" th:text="${endTime}">
                    </option>
                </select>
            </div>
            <div class="form-group mx-auto">
                <input class="btn btn-warning" type="submit" value="Submit" onclick="return Compare()">
            </div>
        </form>
    </div>

<script>
    function Compare() {
        var strStartTime = document.getElementById("startTime").value;
        var strEndTime = document.getElementById("endTime").value;

        var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
        var endTime = new Date(startTime)
        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);
        if (startTime >= endTime) {
            alert("Start Time must not be greater than or equals End Time");
            return false;
        }
    }
    function GetHours(d) {
        var h = parseInt(d.split('-')[0]);
        return h;
    }
    function GetMinutes(d) {
        return parseInt(d.split('-')[1]);
    }
</script>
</body>

</html>