<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>
        Details
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Result</h1>
    <p th:text="'Share this link letsmeet/details/' + ${meetevent.id}"> </p>
    <p th:text="'name: ' + ${meetevent.name}"> </p>
    <p th:text="'date: ' + ${meetevent.date}"> </p>
    <p th:text="'start time: ' + ${meetevent.startTime}"> </p>
    <p th:text="'end time: ' + ${meetevent.endTime}"> </p>
</div>

<div class="container" th:if="${responses != null}">
    <th:block th:each="response : ${responses}">
        <th:block th:each="time : ${response.getSelectedTime()}">
        <p th:text="'selected user: ' + ${response.getUsername()} + '/selected time: ' + ${time}"> </p>
        </th:block>
    </th:block>
</div>

</body>
</html>