.leftnav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; /* Stay on top */
    /*top: 150px; /* Stay at the top */
    border: #202020 1px solid;
    left: 0;
    background-color: #FAFAFA;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.leftnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #202020;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.leftnav a:hover {
    color: #dddddd;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.rightnav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 0; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*top: 150px; /* Stay at the top */
    border: #202020 1px solid;
    right: 0;
    background-color: #FAFAFA;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding-top: 20px;
}

/* The navigation menu links */
.rightnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #202020;
    display: block;
}

#navbar-2 {
    margin-left: 100px;
    border: #202020 1px solid;
}

#navbar-1 {
    border: #202020 1px solid;
}

.content {
    margin-left: 100px;
    margin-right: 0;
    margin-top: 131.68px;
}

#navbar-appname {
    font-family: Roboto;
    font-size: 30px;
}
